.cta {
  padding: 10px 20px;
  background-color: hsla(12, 100.00%, 50.00%, 1.00);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-block {
  color: hsla(0, 0.00%, 0.00%, 1.00);
  font-weight: 700;
}