.cta {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: hsla(114, 53.70%, 78.40%, 1.00);
  text-decoration: none;
}

.text-block {
  color: hsla(193, 89.08%, 24.68%, 1.00);
  font-weight: 700;
}